.slide {
    flex-grow: 1;
    flex-basis: 0;

    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: all 1s ease-in-out;
    border-right: 4px solid white;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.slide:hover {
    flex-basis: 30%;
}

.slide:last-child {
    border-radius: 4px 0 0 4px;
}

.slide:first-child {
    border-radius: 0 4px 4px 0;
    border-right: none;
}

.slide__button {
    margin-bottom: 16px;
    width: 80%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: #F84546;
    border-radius: 2px;
    border: none;

    height: 32px;

    transition: all .2s ease-in-out;
}

.slide__button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12px 0px #F84546;
}

@media only screen and (max-width: 540px) {
    .slide__button {
        width: 100%;
        max-width: auto;
        border-radius: 0;
    }
}