.slider-container {
    width: 100%;
    max-width: 900px;

    height: 500px;

    background-color: white;
    border-radius: 2px;

    box-shadow: 0 32px 50px 12px rgba(0, 0, 0, 0.2);

    display: flex;
}